$font-family-IBM: 'IBM Plex Sans', sans-serif;
$font-family-Cabin: 'Cabin', sans-serif;

// Azul
//$background-color: #14213d;
//$second-color: #fca311;
//$hover-color: #ffffff0f;
//$text-color: #ffffff;

// Blanco
$background-color: #E9EBF8;
$second-color: #fca311;
$color-white: #ffffff;
$hover-color: #5169d9;
$text-color: #000000;
